.table{
    width: 100%;
    /* border: 1.5px solid black; */
     border-collapse: collapse; 
   
}
.table tr td{
    padding: 20px 10px;
 border: 1.5px solid black; 
    /* border-collapse: collapse;  */
}