.profile-image{
    width: 100px;
    height: 100px;
    /* max-width: 100px;
    max-height: 100px; */
    border: 2px solid black;
    border-radius:  50%;
}

.table{
    width: 100%;
    
    border-collapse: collapse;
}
.table tr td{
    padding: 20px 50px;
   
}