<!doctype html>
<html>
<head>
<title>Signup</title>
</head>
<body>
    <!-- <app-navbar></app-navbar> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    
    <div class="testbox">
      <h1>Registration</h1>
      <!-- {{user|json}} -->
      <form (ngSubmit)= "formSubmit()" id="form" >
          <hr>
        <div class="accounttype">
          <input [(ngModel)]="user.role" type="radio" value="Teacher" id="radioOne" name="account" />
          <label for="radioOne" class="radio" chec>Teacher</label>
          <input [(ngModel)]="user.role" type="radio" value="Student" id="radioTwo" name="account" checked/>
          <label for="radioTwo" class="radio">Student</label>
        </div>
      <hr>
      <label id="icon" for="name"><i class="icon-envelope "></i></label>
      <input [(ngModel)]="user.email" type="text" name="email" id="email" placeholder="Email" required/>
      <label id="icon" for="name"><i class="icon-phone "></i></label>
      <input [(ngModel)]="user.phone" type="text" name="phone" id="phone" placeholder="Phone" required/>
      <label id="icon" for="name"><i class="icon-user"></i></label>
      <input [(ngModel)]="user.name" type="text" name="name" id="name" placeholder="Name" required/>
      <label id="icon" for="name"><i class="icon-shield"></i></label>
      <input [(ngModel)]="user.password" type="password" name="password" id="password" placeholder="Password" required/>
      <div class="gender">
        <input type="radio" value="None" id="male" name="gender" checked/>
        <label for="male" class="radio" chec>Male</label>
        <input type="radio" value="None" id="female" name="gender" />
        <label for="female" class="radio">Female</label>
       </div> 
       <!-- <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p> -->
       <div class="row">
       <div class="text-center" style="margin-top: -10px;">
       <button mat-raised-button color="primary" type="submit" >Register</button>
       <button mat-raised-button color="primary" style="margin-left: 20px;" type="reset">Reset</button>
       <div style="padding-top: 10px;"><a href="/login" style="color:maroon;margin-top: 40px;padding-top: 20px;">Already Registered User?? Please SignIn here.</a>
       </div>
       </div>
       </div>
    </form>

    </div>


</body>
</html>