<mat-card>
    <mat-action-list>
        <div matSubheader>Menu</div>
        <!-- <button mat-list-item routerLink="/teacher/welcome">
            <mat-icon mat-list-icon>home</mat-icon>
            Home
        </button> -->
        <button mat-list-item routerLink="/teacher/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            Profile
        </button>
        <button mat-list-item routerLink="/teacher/add-skills">
            <mat-icon mat-list-icon> playlist_add </mat-icon>
            Add Skills
        </button>
        <button mat-list-item routerLink="/teacher/all-meeting">
            <mat-icon mat-list-icon> today </mat-icon>
            My Meetings
        </button>
        <button mat-list-item routerLink="/teacher/add-meeting">
            <mat-icon mat-list-icon>person_add_alt1</mat-icon>
            Create Meeting
        </button>
        <button mat-list-item routerLink="/teacher/PersonalMeeting/null">
            <mat-icon mat-list-icon>person_add_alt1</mat-icon>
           Create Personal Meeting
        </button>
        <button mat-list-item routerLink="/teacher/Meetings">
            <mat-icon mat-list-icon> view_list </mat-icon>
            All Meetings
        </button>

        <button mat-list-item routerLink="/teacher/all-requests">
            <mat-icon mat-list-icon>connect_without_contact</mat-icon>
            All Requests
        </button>
        <button mat-list-item routerLink="/teacher/personal-requests">
            <mat-icon mat-list-icon>connect_without_contact</mat-icon>
            Personal Requests
        </button>
        <button mat-list-item routerLink="/teacher/accepted-requests">
            <mat-icon mat-list-icon>how_to_reg</mat-icon>
            Accepted Requests
        </button>
        <button mat-list-item routerLink="/teacher/add-message/null">
            <mat-icon mat-list-icon>chat</mat-icon>
           Send Message
        </button>
        <button mat-list-item routerLink="/teacher/allMessages">
            <mat-icon mat-list-icon>forum</mat-icon>
            Messages
        </button>
        <button mat-list-item routerLink="/teacher/allMessages/null">
            <mat-icon mat-list-icon>forum</mat-icon>
            All Messages
        </button>
       

    </mat-action-list>

</mat-card>
