<mat-card >
  <h1 class="mt10">Make Personal Request </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit)= "formSubmit()" id="form">
          <!-- Topic -->
          <mat-form-field class="w100"  appearance="outline">
            <mat-label>Topic</mat-label>
            <input  [(ngModel)]="request.rTopic" type="text" name="rTopic"  placeholder="Enter Topic"  matInput required>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea  [(ngModel)]="request.rDescription" type="text" name="rDescription"  placeholder="Description"  matInput required></textarea>
          </mat-form-field>
          <div class="row">
            <div class="col-md-6">
              <!-- Date -->
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Preferred Date(dd/mm/yyyy)</mat-label>
                <input [(ngModel)]="request.rDate" type="text" name="tDate"  placeholder="Date(dd/mm/yyyy)"  matInput required/>
    
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <!-- time -->
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Preferred Time</mat-label>
                <input [(ngModel)]="request.rTime" type="text" name="tTime" placeholder="Time(e.g 10 am)"  matInput required/>
    
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="w100"  appearance="outline">
            <mat-label>Teacher's Username</mat-label>
            <input  [(ngModel)]="request.rTeacherUsername" type="text" name="rTeacherUsername"  placeholder="Enter Teacher's Username "  matInput required>
          </mat-form-field>


          <div class="container text-center">
            <button mat-raised-button color="primary"  type="submit" >Make Request</button>
            <button mat-raised-button color="primary" style="margin-left: 20px;" type="reset">Reset</button>
            
          </div>

        </form>




      </div>
    </div>
  </div>

</mat-card>





















