<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
        <h1>All Meetings</h1>
      </div>
      <div class="col-md-6" style="text-align:right;">
        
          
         <mat-form-field class="w200" appearance="fill" >
          <mat-label >Search By Topic</mat-label>
          <input matInput type="text" [(ngModel)]="topic" placeholder="Enter Topic">
          <button *ngIf="topic" matSuffix mat-icon-button aria-label="Clear" (click)="topic=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button style="margin-left: 15px;" (click)="onClick()">Search</button>
  
      
      </div>
    
    </div>
    <div class="row " *ngIf="allmeet">
      <div class="col-md-4 mt20" *ngFor="let row of allmeet">
        <mat-card>
        <mat-card-header>
          <mat-card-title>
           {{row['tTopic']}}
          </mat-card-title>
          <mat-card-subtitle>
             by &nbsp; {{row['tUsername']}}
          </mat-card-subtitle>
     </mat-card-header>
     <mat-card-content>
       {{row['tDescription']}}
       <div class="row">
         <div class="md-col-6 " style = "margin-left: 15px;">
          Date  :&nbsp; -&nbsp; <b> {{row['tDate']}}</b>
         </div>
         <div class="md-col-6 " style = "margin-left: 15px;text-align: right;">
           Time  :&nbsp; -&nbsp; <b> {{row['tTime']}}</b>
         </div>
       </div>
        Joining &nbsp; Link &nbsp; :&nbsp; -&nbsp;<br>
       <a style="margin-left: 25px; max-width: fit-content;"  href="{{row['tLink']}}">{{row['tLink']}}</a>
     </mat-card-content>
     <mat-card-actions *ngIf="role=='Student'">
       <button mat-stroked-button color="primary" (click)="add(row['tid'])" >Add to Personal Meetings</button>
     </mat-card-actions>
    </mat-card>
     
     <mat-divider></mat-divider> 

      </div>
    </div>

  </div>


</div>













