<mat-card>
    <mat-action-list>
        <div matSubheader>Menu</div>
        <!-- <button mat-list-item routerLink="/student/welcome">
            <mat-icon mat-list-icon>home</mat-icon>
            Home
        </button> -->
        <button mat-list-item routerLink="/student/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            profile
        </button>
        <button mat-list-item routerLink="/student/searchTeacher">
            <mat-icon mat-list-icon>search</mat-icon>
            Search Teacher  
        </button>
        <button mat-list-item routerLink="/student/myMeetings">
            <mat-icon mat-list-icon> today </mat-icon>
            My Meetings
        </button>
        <button mat-list-item routerLink="/student/all-meetings">
            <mat-icon mat-list-icon> view_list </mat-icon>
            All Meetings
        </button>
        
        <button mat-list-item routerLink="/student/myRequests">
            <mat-icon mat-list-icon>connect_without_contact</mat-icon>
            My Requests
        </button>
        <button mat-list-item routerLink="/student/all-request">
            <mat-icon mat-list-icon>connect_without_contact</mat-icon>
            All Requests
        </button>
       
        <button mat-list-item routerLink="/student/request">
            <mat-icon mat-list-icon>person_add_alt1</mat-icon>
            Make Request 
        </button>
        <button mat-list-item routerLink="/student/personal-request/null">
            <mat-icon mat-list-icon>person_add_alt1</mat-icon>
            Make Personal Request
        </button>
        <button mat-list-item routerLink="/student/accepted-request">
            <mat-icon mat-list-icon>how_to_reg</mat-icon>
            Accepted Requests
        </button>
       
        <!-- <button mat-list-item routerLink="/student/personal-requests">
            <mat-icon mat-list-icon>person_add_alt1</mat-icon>
            Ac Requests
        </button> -->
       
        
        <button mat-list-item routerLink="/student/add-message/null">
            <mat-icon mat-list-icon>chat</mat-icon>
           Send Message
        </button>
        <button mat-list-item routerLink="/student/allMessages">
            <mat-icon mat-list-icon>forum</mat-icon>
               Messages
        </button>
        <button mat-list-item routerLink="/student/allMessages/null">
            <mat-icon mat-list-icon>forum</mat-icon>
            All Messages
        </button>

    </mat-action-list>

</mat-card>
